body {
 background:url(pembe.jpg) no-repeat fixed center/cover;
 display:flex;
 justify-content:center; /*içeriği hizala*/
} 
 
.hero-section { /*başlık yazısının ayarları ve animasyon ismi*/ 
 height:100px;
 margin: 20px; 
 margin-top: 200px;
 font-size:45px; 
 letter-spacing: 3px; /*harf aralığı*/ 
 color: #2b2b2b; 
 opacity: 0;                                /* sayfa açıldığında opaklık*/
 animation: slideDown 1.4s ease-out forwards; /* animasyon bitince son hali kalıcı oolur forwards*/
}
 
.hero { 
 margin: 0; 
 display: flex; 
 flex-direction: column; /* ALT ALTA */ 
 align-items: center; /* ortala */
} 


.hero h1,
.hero h3{ 
    margin:0; 
} 

#altmetin { 
 margin-top:3px ; 
 font-size:25px; 
 letter-spacing: 1px;
 color: #383636; 
 opacity:0; 
 animation: fadeIn 1.2s ease forwards; 
 animation-delay: 1s;   /* başlıktan sonra gelsin */ 
}

@keyframes fadeIn { 
    from { opacity: 0; 
    } 
    to { opacity: 1;
     } 
} 
    
    
@keyframes slideDown {
     0% { transform: translateY(-80px); 
          opacity: 0; 
        }
   100% { transform: translateY(0); 
          opacity: 1; 
         } } 

#link { 
 position: fixed; /* ekrana sabitler */ 
 bottom: 30px; /* aşağıdan mesafe */ 
 left: 30px; /* soldan mesafe */ 
 font-size: 16px; 
 text-decoration: none; 
 color: #2b2b2b; 
 background: #ec4bfa; 
 padding: 12px 18px;
 border-radius: 30px; 
 transition: all 0.9s ease; 
} 

#link:hover { 
 background: #aa048e; 
 color: white; 
 transform: translateY(-9px); /* hafif yukarı */ 
 box-shadow: 0 5px 15px rgba(109, 11, 118, 0.4); /* Butonun altına da parlama gelsin */
}




.sweet-form { 
 width: 100%; 
 max-width: 400px; 
 display: flex; 
 flex-direction: column;   /*formdaki elemanları alt alta dizer*/
 gap: 15px;                 /* form soruları arasında boşluk*/
} 

.sweet-form input, 
.sweet-form textarea { 
 padding: 12px;               /*formun sağa sola olan uzaklığı*/
 border-radius: 12px;      
 border: 1px solid #ccc; 
 font-size: 14px;            
} 

.sweet-form button { 
 font-weight: bold; /* Yazıyı biraz kalınlaştıralım */
 transition: all 0.4s ease; /* Hareketin hızı 0.4 saniye olsun */
 padding: 14px; 
 border: none; 
 border-radius: 20px; 
 background: #ec4bfa; 
 color: white; 
 cursor: pointer; 
} 

.form-text { 
 margin-top: 35px;      /*başlık+alt metinden sonra boşlk*/
 margin-bottom:10px;
 font-size: 15px; 
 color: #333; 
}
.sweet-form {
  margin-top: 30px;                 /* başlık ile form arası boşluk */
  padding: 25px;                    /* formun iç boşluğu */

  border: 1.5px solid #000;         /* ince siyah border */
  border-radius: 20px;              /* yumuşak köşeler */

  background: rgba(255,255,255,0.9);/* hafif beyaz zemin */

  box-shadow:
    0 0 15px rgba(180, 0, 255, 0.4),   /* mor parlama*/
    0 0 30px rgba(180, 0, 255, 0.25);    /* dış katmandaki parlamma daha şiddtli*/
}


.sweet-form button:hover {
    background: #aa048e; /* Renk koyulaşsın */
    transform: scale(1.05); /* Buton %5 büyüsün */
    box-shadow: 0 5px 15px rgba(97, 8, 105, 0.4); /* Butonun altına da parlama gelsin */
}

/* Butona basıldığında (Tıklama anı) */
.sweet-form button:active {
    transform: scale(0.98); /* Hafifçe içeri çöksün, gerçek buton hissi versin */
}
